<ion-header>
</ion-header>

<ion-content>
  <div class="contenedor">
    <ion-card> <ion-card-header>
      <div class="encabezado">
        <ion-card-title>Neveras</ion-card-title>
        <a href="http://localhost:8100/products"><ion-icon name="arrow-back-outline"></ion-icon></a>
      </div>
    </ion-card-header>

      <ion-card-content>
        <div class="productos">

          <div class="cont_prod">
            <div class="producto">
              <img src="https://www.alkosto.com/medias/7704353378405-001-310Wx310H?context=bWFzdGVyfGltYWdlc3wxODY2MHxpbWFnZS9qcGVnfGltYWdlcy9oNTIvaDNmLzk3NzQ5MDY0MDg5OTAuanBnfDI0Yzk3MGM2YTcxMDJkZWUyYzgzY2EzYThkMWM5ODUyMjA2MmQ0MTk2ZTBjNGYxNzk4ZWRjZTllMmZjNDNlNTg">
            </div>
            <div class="prod_text">
              <h5><b>Nevera HACEB No Frost Congelador Superior 404 Litros Brutos Antártica Gris</b></h5>
              <ion-button color="dark">Agregar</ion-button>
            </div>
          </div>

          <div class="cont_prod">
            <div class="producto">
              <img src="https://www.alkosto.com/medias/8806092127500-001-310Wx310H?context=bWFzdGVyfGltYWdlc3wxNjIxOXxpbWFnZS9qcGVnfGltYWdlcy9oZWMvaDczLzEwNjI2MTM3NTU0OTc0LmpwZ3wyNmU3YzA5ZTU4MDVmNWQ4ZmEyYzk5MDQ1YjQzOTlhMTYwZGU4ZWQyMzQ0YzU0MGFhNzQ3YmMzNDU2MTA4YmE5">
            </div>
            <div class="prod_text">
              <h5><b>Nevera SAMSUNG No Frost Congelador Superior 243 Litros Brutos RT22FARADS8 Gris</b></h5>
              <ion-button color="dark">Agregar</ion-button>
            </div>
          </div>

          <div class="cont_prod">
            <div class="producto">
              <img src="https://www.alkosto.com/medias/7704353418842-001-310Wx310H?context=bWFzdGVyfGltYWdlc3wyNjY0MHxpbWFnZS9qcGVnfGltYWdlcy9oYTgvaGUzLzEwMDQ2NzMxNDg1MjE0LmpwZ3xlYzNkOGRiMmMxY2E4MDhmZWJhMDcwMmJiMGIyNTE3MDYwZDJkYzYzZWE3ZDM0YzI1ZTZkZGIwYjU1ZDA0Y2Uz">
            </div>
            <div class="prod_text">
              <h5><b>Nevera HACEB No Frost Congelador Superior 294 Litros Brutos SIBERIA Manija Integrada Titanio</b></h5>
              <ion-button color="dark">Agregar</ion-button>
            </div>
          </div>

          <div class="cont_prod">
            <div class="producto">
              <img src="https://www.alkosto.com/medias/8801643911584-001-310Wx310H?context=bWFzdGVyfGltYWdlc3wxNDQxNHxpbWFnZS9qcGVnfGltYWdlcy9oN2IvaDAyLzEwMzcyMjczNjY4MTI2LmpwZ3wyODYxMzJkN2QyMGM2OGFiNGFlYzg0YmFlMGIwODBlZTcwZjMzMDc1ZmJjNzc0YTlkYWQ0N2RjMzc0MDJmZTQz">
            </div>
            <div class="prod_text">
              <h5><b>Nevera SAMSUNG No Frost Congelador Inferior 313 Litros Brutos RB30N4160S8 Gris</b></h5>
              <ion-button color="dark">Agregar</ion-button>
            </div>
          </div>

          <div class="cont_prod">
            <div class="producto">
              <img src="https://www.alkosto.com/medias/7704353362589-001-310Wx310H?context=bWFzdGVyfGltYWdlc3wyMDg0OHxpbWFnZS9qcGVnfGltYWdlcy9oNmUvaDY4LzEwMzcwMTY1NjA0MzgyLmpwZ3wxMTZiNDIwMGM5NTdkNmRjYTJiNWJiZGRlYjc2Y2JjMmM4NGNmNjYwOGE3ZGU0MGVmNTkzZmY1M2I1NzYwYjYx">
            </div>
            <div class="prod_text">
              <h5><b>Nevera WHIRLPOOL No Frost Congelador Superior 440 Litros Brutos WRW45AKTWW Gris</b></h5>
              <ion-button color="dark">Agregar</ion-button>
            </div>
          </div>


        </div>
          
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
