<ion-header>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Bienvenidos!</ion-card-title>
      <ion-card-subtitle>Hora de comprar, vamos <b>Acceder</b></ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>

    </ion-card-content>

    <ion-list lines="full" class="ion-no-margin">
      <ion-item>
        <ion-label position="floating">Correo</ion-label>
        <ion-input type="email"></ion-input>
      </ion-item>

      <ion-item class="contra">
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>

      <ion-text class="olvido" routerLink="/olvido">¿Olvidate tu contraseña?</ion-text>
    </ion-list>

    <ion-button color="primary" routerLink="/tabs">Acceder</ion-button>

    <ion-list class="text">
      <ion-text>¿No tienes Cuenta?</ion-text>
      <br>
      <ion-text class="registrate" routerLink="/registro"><b>Registrate</b></ion-text>
    </ion-list>

  </ion-card>

</ion-content>
