<ion-header>
</ion-header>

<ion-content>
  <div class="contenedor">
    <ion-card>
      <ion-card-header>
        <div class="encabezado">
          <ion-card-title>Celulares</ion-card-title>
          <a href="http://localhost:8100/products"><ion-icon name="arrow-back-outline"></ion-icon></a>
        </div>
      </ion-card-header>

      <ion-card-content>
        <div class="productos">
          <div class="cont_prod">
            <div class="producto">
              <img src="https://www.alkosto.com/medias/194252145678-001-310Wx310H?context=bWFzdGVyfGltYWdlc3wzNzc4MHxpbWFnZS9qcGVnfGltYWdlcy9oZmMvaGY1LzEwMDU2Njg1OTEyMDk0LmpwZ3wzYTUzN2EzZjBiMjE1OGZmNjJkYmZjYTY5OTViM2IxMDQ5YzNhNTkyYTk5Y2U1YWU4MzAyMWVlZjg1MDE3OTM2">
            </div>
            <div class="prod_text">
              <h5><b>Celular MOTOROLA One Fusion 128GB Verde - Dark Esmerald</b></h5>
              <ion-button color="dark">Agregar</ion-button>
            </div>
          </div>

          <div class="cont_prod">
            <div class="producto">
              <img src="https://www.alkosto.com/medias/840023208546-001-310Wx310H?context=bWFzdGVyfGltYWdlc3wyNjY3NHxpbWFnZS9qcGVnfGltYWdlcy9oMzQvaDNkLzk3NjcyMTQ4NzQ2NTQuanBnfGNhNGFhMmEzZDY5YWI2N2I3NDIyMjY0MzNhZmRkY2Y2NWVhN2I0M2VlNzI3NmRmMTcyNzNmM2FmNTY5ZTA1Mjg">
            </div>
            <div class="prod_text">
              <h5><b>Celular SAMSUNG Galaxy A02 64GB Azul</b></h5>
              <ion-button color="dark">Agregar</ion-button>
            </div>
          </div>

          <div class="cont_prod">
            <div class="producto">
              <img src="https://www.alkosto.com/medias/8806092141292-001-310Wx310H?context=bWFzdGVyfGltYWdlc3w0ODA3MnxpbWFnZS9qcGVnfGltYWdlcy9oM2IvaGE5LzEwNjY2NDg1MTg2NTkwLmpwZ3wzNzU5YmI4ZWY5MzA2NmRkOWJkMWEyZTRiMTZjNmZlYzRiYzhlNDVhNDBkNGVjNmYzMzY1MDFjZjM4NDQzYWEx">
            </div>
            <div class="prod_text">
              <h5><b>
                Celular XIAOMI REDMI 9 64GB Gris - Carbon Grey</b></h5>
              <ion-button color="dark">Agregar</ion-button>
            </div>
          </div>

          <div class="cont_prod">
            <div class="producto">
              <img src="https://www.alkosto.com/medias/6941059645900-001-310Wx310H?context=bWFzdGVyfGltYWdlc3wyNjg3MXxpbWFnZS9qcGVnfGltYWdlcy9oNWMvaGViLzk3MTU5OTU4NjkyMTQuanBnfDE0YjEwNmM2ZWNmMWIwYmFjYzAwNWJjZDkzYTJmZmU4MzAwYmYyMjE0OTUyNTY3NGQ2MzhmNTM1YTdiZGUyMTc">
            </div>
            <div class="prod_text">
              <h5><b>Celular MOTOROLA G20 64GB Azul</b></h5>
              <ion-button color="dark">Agregar</ion-button>
            </div>
          </div>

          <div class="cont_prod">
            <div class="producto">
              <img src="https://www.alkosto.com/medias/840023215414-001-310Wx310H?context=bWFzdGVyfGltYWdlc3wzNjAzNnxpbWFnZS9qcGVnfGltYWdlcy9oOWMvaDA0LzEwNTUyODAwMTQ5NTM0LmpwZ3w3YmEzNGI1ZTE1ZWJlYTYxMTRlODE0Y2UzYzJmMmI0ZDAxZjg2NGNkNzJhM2IzMTkyMTgzYWJiNzI2MzJjYzFh">
            </div>
            <div class="prod_text">
              <h5><b>Celular TCL 10L 128GB + 6GB Azul</b></h5>
              <ion-button color="dark">Agregar</ion-button>
            </div>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>