<ion-header>
  <ion-toolbar>
      <ion-title style="text-align: center;">Cuenta</ion-title>
      <!-- Menu Icon -->
      
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
  <!-- Back icon -->
      <ion-buttons slot="end">
          <ion-back-button defaultHref="inicio"></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-menu side="start" menuId="custom" contentId="main" class="my-custom-menu">
  <ion-header>
    <ion-toolbar>
      <ion-title>Nombre del Cliente</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-icon name="home"></ion-icon>
        <ion-label class="texto-menu" routerLink="/tab1">Inicio</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="bag-remove"></ion-icon>
        <ion-label class="texto-menu" routerLink="/promociones">Promociones</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="person"></ion-icon>
        <ion-label class="texto-menu" routerLink="/cuenta">Cuenta</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="exit"></ion-icon>
        <ion-label class="texto-menu">Salir</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-router-outlet id="main"></ion-router-outlet>

<ion-content>

  <ion-list-header style="margin-left: 30px;"><h3>Nombre Usuario</h3></ion-list-header>
  <br>
  <ion-avatar style="margin: 0 auto;">

     <img src="../../assets/images/bul.png">
  </ion-avatar>

  <ion-list>
    <ion-item>
      <ion-label>Nombre: </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Apellido: </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Correo Electronico: </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
