<ion-content>
  <div class="backgrounf-pic">
    <div class="background-filter">

      <ion-card>
        <ion-card-header>
          <ion-card-title>Olvido su Contraseña!</ion-card-title>

          <ion-card-subtitle>
            Ingrese su <strong>Correo</strong>
          </ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          <ion-item>
            <ion-input placeholder="Correo"></ion-input>
          </ion-item>

          <div class="btn-section">
            <ion-button>Restablecer Contraseña</ion-button>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
