<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="white">
  <!-- Seccion de las slides -->
  <ion-slides>
    <ion-slide>
      <div class="slide">
        <img src="../../assets/img/bg1.jpg"/>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide">
        <img src="../../assets/img/bg2.jpg"/>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide">
        <img src="../../assets/img/bg3.jpg"/>
      </div>
    </ion-slide>
  </ion-slides>

  <!-- Seccion de prodcutos destacados -->
  <ion-item>
    <ion-label class="productos-destacados">Productos Destacados</ion-label>
  </ion-item>

  <!-- Productos destacados -->
  
  <!-- Producto 1 -->
  <ion-card>
    <img src="../../assets/img/1.png" />
    <ion-card-content>
      <ion-grid color="primary">
        <ion-row>
          <ion-col>
            <div>Celular Motorola</div>
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center">
          <ion-col>
            <ion-buttons>
              <ion-button class="btn" (click)="openModal()">Detalles</ion-button>
            </ion-buttons>
          </ion-col>
          <ion-col>
            <div></div>
          </ion-col>
          <ion-col>
            <div class="div-precio">$679.900</div>
          </ion-col>
        </ion-row>
      </ion-grid>              
    </ion-card-content>
  </ion-card>

  <!-- Producto 2 -->
  <ion-card>
    <img src="../../assets/img/2.png" />
    <ion-card-content>
      <ion-grid color="primary">
        <ion-row>
          <ion-col>
            <div>Estufa mabe</div>
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center">
          <ion-col>
            <ion-buttons>
              <ion-button class="btn" (click)="openModal()">Detalles</ion-button>
            </ion-buttons>
          </ion-col>
          <ion-col>
            <div class="div-precio"><p>$1.500.000</p></div>
          </ion-col>
        </ion-row>
      </ion-grid>              
    </ion-card-content>
  </ion-card>

  <!-- Producto 3 -->
  <ion-card>
    <img src="../../assets/img/3.png" />
    <ion-card-content>
      <ion-grid color="primary">
        <ion-row>
          <ion-col>
            <div>Freidora IMUSA</div>
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center">
          <ion-col>
            <ion-buttons>
              <ion-button class="btn" (click)="openModal()">Detalles</ion-button>
            </ion-buttons>
          </ion-col>
          <ion-col>
            <div class="div-precio">$349.900</div>
          </ion-col>
        </ion-row>
      </ion-grid>              
    </ion-card-content>
  </ion-card>

  <!-- Producto 4 -->
  <ion-card>
    <img src="../../assets/img/4.png" />
    <ion-card-content>
      <ion-grid color="primary">
        <ion-row>
          <ion-col>
            <div>Lavadora LG</div>
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center">
          <ion-col>
            <ion-buttons>
              <ion-button class="btn" (click)="openModal()">Detalles</ion-button>
            </ion-buttons>
          </ion-col>
          <ion-col>
            <div class="div-precio">$3.119.900</div>
          </ion-col>
        </ion-row>
      </ion-grid>              
    </ion-card-content>
  </ion-card>

  <!-- Producto 5 -->
  <ion-card>
    <img src="../../assets/img/5.png" />
    <ion-card-content>
      <ion-grid color="primary">
        <ion-row>
          <ion-col>
            <div>Horno Microondas KALLEY</div>
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center">
          <ion-col>
            <ion-buttons>
              <ion-button class="btn" (click)="openModal()">Detalles</ion-button>
            </ion-buttons>
          </ion-col>
          <ion-col>
            <div class="div-precio">$254.900</div>
          </ion-col>
        </ion-row>
      </ion-grid>              
    </ion-card-content>
  </ion-card>

  <!-- Producto 6 -->
  <ion-card>
    <img src="../../assets/img/6.png" />
    <ion-card-content>
      <ion-grid color="primary">
        <ion-row>
          <ion-col>
            <div>Nevecon LG</div>
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center">
          <ion-col>
            <ion-buttons>
              <ion-button class="btn" (click)="openModal()">Detalles</ion-button>
            </ion-buttons>
          </ion-col>
          <ion-col>
            <div class="div-precio">$6.159.900</div>
          </ion-col>
        </ion-row>
      </ion-grid>              
    </ion-card-content>
  </ion-card>

  <!-- Producto 7 -->
  <ion-card>
    <img src="../../assets/img/7.png" />
    <ion-card-content>
      <ion-grid color="primary">
        <ion-row>
          <ion-col>
            <div>Ventilador SAMURAI</div>
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center">
          <ion-col>
            <ion-buttons>
              <ion-button class="btn" (click)="openModal()">Detalles</ion-button>
            </ion-buttons>
          </ion-col>
          <ion-col>
            <div class="div-precio">$129.900</div>
          </ion-col>
        </ion-row>
      </ion-grid>              
    </ion-card-content>
  </ion-card>

  <!-- Producto 8 -->
  <ion-card>
    <img src="../../assets/img/8.png" />
    <ion-card-content>
      <ion-grid color="primary">
        <ion-row>
          <ion-col>
            <div>Televisor SAMSUNG</div>
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center">
          <ion-col>
            <ion-buttons>
              <ion-button class="btn" (click)="openModal()">Detalles</ion-button>
            </ion-buttons>
          </ion-col>
          <ion-col>
            <div class="div-precio">$3.399.900</div>
          </ion-col>
        </ion-row>
      </ion-grid>              
    </ion-card-content>
  </ion-card>

</ion-content>
