<ion-content>
  <div class="backgrounf-pic">
    <div class="background-filter">

      <ion-card>
        <ion-card-header>
          <ion-card-title>Registrese!</ion-card-title>

          <ion-card-subtitle>
            Crea tu <strong>cuenta</strong>
          </ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          <ion-item>
            <ion-input placeholder="Nombre Completo"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input placeholder="Correo"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input placeholder="Numero de Telefono"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input placeholder="Contraseña"></ion-input>
          </ion-item>

          <div class="btn-section">
            <ion-button (click)="signUpUser()">Registrarse</ion-button>

            <span>Ya tiene cuenta? <a href="http://localhost:8100/login">Acceder</a></span>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
