<ion-header>
</ion-header>

<ion-content>
  <div class="contenedor">
    <ion-card> <ion-card-header>
      <div class="encabezado">
        <ion-card-title>Lavadoras</ion-card-title>
        <a href="http://localhost:8100/products"><ion-icon name="arrow-back-outline"></ion-icon></a>
      </div>
    </ion-card-header>

      <ion-card-content>
        <div class="productos">

          <div class="cont_prod">
            <div class="producto">
              <img src="https://www.alkosto.com/medias/8806091259424-001-310Wx310H?context=bWFzdGVyfGltYWdlc3wxOTU2M3xpbWFnZS9qcGVnfGltYWdlcy9oMDIvaDA4LzEwNDE5MDI2ODg2Njg2LmpwZ3xhMmZmNjg3ZjhkMGQ5NDA3NmI4ZmRmNmE1N2EzODc5NTJiNjdlNWJhODNlYjk5MzU2YzJhNDk1ZjM0MjkyYmZl">
            </div>
            <div class="prod_text">
              <h5><b>Lavadora - Samsung</b></h5>
              <p>Precio - $ 1.100.000</p>
              <ion-button color="dark">Agregar</ion-button>
            </div>
          </div>

          <div class="cont_prod">
            <div class="producto">
              <img src="https://www.alkosto.com/medias/7501545635847-001-310Wx310H?context=bWFzdGVyfGltYWdlc3wxMTUwOHxpbWFnZS9qcGVnfGltYWdlcy9oOTkvaGViLzkzODYyNTA1MDIxNzQuanBnfDEwMjQ5YTE2MWM3YjJmMGE1ZjNiYWI5ODM0MzQyODc2YWU3YTM1MjI5MTMzOTg4MTMxYjIyZjA5OWI5YjYxMGM">
            </div>
            <div class="prod_text">
              <h5><b>Lavadora - Kalley</b></h5>
              <p>Precio - $ 1.200.000</p>
              <ion-button color="dark">Agregar</ion-button>
            </div>
          </div>

          <div class="cont_prod">
            <div class="producto">
              <img src="https://www.alkosto.com/medias/8801643989378-001-310Wx310H?context=bWFzdGVyfGltYWdlc3wzODQwNXxpbWFnZS9qcGVnfGltYWdlcy9oZjAvaDhkLzEwMzcwNDgwMDc4ODc4LmpwZ3wwNTVmZTU2YTBlZjhkYjRiMGFiNzA2MjQ4MDI5YmZmNzA0NDE4MTU1YWIzMjBmZjkxZjE3MjQzYTc0MWQ1YjBl">
            </div>
            <div class="prod_text">
              <h5><b>Lavadora - Mabe</b></h5>
              <p>Precio - $ 900.000</p>
              <ion-button color="dark">Agregar</ion-button>
            </div>
          </div>

          <div class="cont_prod">
            <div class="producto">
              <img src="https://www.alkosto.com/medias/7501545635847-001-310Wx310H?context=bWFzdGVyfGltYWdlc3wxMTUwOHxpbWFnZS9qcGVnfGltYWdlcy9oOTkvaGViLzkzODYyNTA1MDIxNzQuanBnfDEwMjQ5YTE2MWM3YjJmMGE1ZjNiYWI5ODM0MzQyODc2YWU3YTM1MjI5MTMzOTg4MTMxYjIyZjA5OWI5YjYxMGM">
            </div>
            <div class="prod_text">
              <h5><b>Lavadora - Whirlpool</b></h5>
            
              <p>Precio - $ 1.500.000</p>
              <ion-button color="dark">Agregar</ion-button>
            </div>
          </div>

          <div class="cont_prod">
            <div class="producto">
              <img src="https://www.alkosto.com/medias/8806098364510-001-310Wx310H?context=bWFzdGVyfGltYWdlc3wzNDQxOXxpbWFnZS9qcGVnfGltYWdlcy9oM2UvaGNkLzEwMzcwNDgxMjU4NTI2LmpwZ3wyMDEwNzdjNzc2YTYxOTljZGYyNmIxMWY2YjZjNjYyMDdiMTFhZWY5ZDYyNmUzZmIxZWNlZjNlYWQzYzZhNWQy">
            </div>
            <div class="prod_text">
              <h5><b>Lavadora - LG</b></h5>
              <p>Precio - $ 1.000.000</p>
              <ion-button color="dark">Agregar</ion-button>
            </div>
          </div>


        </div>
          
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
