<ion-header>
</ion-header>

<ion-content>
  <div class="contenedor">
    <ion-card>
      <ion-card-header>
        <div class="encabezado">
          <ion-card-title>Estufas</ion-card-title>
          <a href="http://localhost:8100/products"><ion-icon name="arrow-back-outline"></ion-icon></a>
        </div>
      </ion-card-header>

      <ion-card-content>
        <div class="productos">
          <div class="cont_prod">
            <div class="producto">
              <img src="https://www.alkosto.com/medias/7707029812456-001-310Wx310H?context=bWFzdGVyfGltYWdlc3wyOTgzMnxpbWFnZS9qcGVnfGltYWdlcy9oNTYvaDBmLzk3OTQ5NTc1NzQxNzQuanBnfDJkOGMxNTIyYTBhNTM5YTZhMmE0MjczMWQ1OGRkOGJjNmRlNjYxYjQzOWNkMGNiNmFkODJkZDM3OTRlM2JiN2E">
            </div>
            <div class="prod_text">
              <h5><b>Estufa de Piso SUPERIOR 4 Puestos Gas Natural 7015 Gris </b></h5>
              <ion-button color="dark">Agregar</ion-button>
            </div>
          </div>

          <div class="cont_prod">
            <div class="producto">
              <img src="https://www.alkosto.com/medias/7704353418712-001-310Wx310H?context=bWFzdGVyfGltYWdlc3wyNjY2NnxpbWFnZS9qcGVnfGltYWdlcy9oNDQvaDc5LzEwNDMzNDgxOTMyODMwLmpwZ3xmMGMzNGY4YTczNjAxYzAwNmQ2MmEwMTc0YmExNDBkZDkxNTQzYWQ5YjdiN2ZjYmJkY2E2NWJjNzYzZGE0M2Nj">
            </div>
            <div class="prod_text">
              <h5><b>Estufa de Piso HACEB 4 Puestos Gas Natural Romero Reflex 50-V Negro</b></h5>
              <ion-button color="dark">Agregar</ion-button>
            </div>
          </div>

          <div class="cont_prod">
            <div class="producto">
              <img src="https://www.alkosto.com/medias/7706060039259-001-310Wx310H?context=bWFzdGVyfGltYWdlc3wxNzg3MnxpbWFnZS9qcGVnfGltYWdlcy9oNjAvaDYzLzEwNTQ4MjM3ODI4MTI2LmpwZ3w4Njg1ZWQ4MTIzMTdjNTg5YTc5NTIwMjcxMDg3MmFhYzNhN2VkYTNhMjE4NzU0YzllNGIxNjEwZjUwZjE0MjFj">
            </div>
            <div class="prod_text">
              <h5><b>
                Estufa de Piso ABBA Master Chef 4 Puestos Gas Natural AB201-6M Plateado </b></h5>
              <ion-button color="dark">Agregar</ion-button>
            </div>
          </div>

          <div class="cont_prod">
            <div class="producto">
              <img src="https://www.alkosto.com/medias/7861032325850-001-310Wx310H?context=bWFzdGVyfGltYWdlc3wxODMxOHxpbWFnZS9qcGVnfGltYWdlcy9oZmUvaGVlLzEwNTAyMTk0MDY5NTM0LmpwZ3wwMTg3MDIyY2U3ZTU2MWNiNDk0YzE1ZWFhNTlmYTM0NTRjZGM0NGZkZjNjMDc4NjcwMTlhYzA1MGI3MjFiMGVh">
            </div>
            <div class="prod_text">
              <h5><b>Estufa de Piso Mabe 4 Puestos Gas Natural EMC6050NFX0</b></h5>
              <ion-button color="dark">Agregar</ion-button>
            </div>
          </div>

          <div class="cont_prod">
            <div class="producto">
              <img src="https://www.alkosto.com/medias/8806098082681-001-310Wx310H?context=bWFzdGVyfGltYWdlc3w5MzY3fGltYWdlL2pwZWd8aW1hZ2VzL2g3YS9oY2EvODk4MjU4MTExNjk1OC5qcGd8MDAwNGViYjBlZjVhMWYyYjMxOTQxMjFmYWEwZDA4NmMzMWU1ZWRlNzBjMzNkZGNmYWM5YmIyMmFkYWRjMDlkNg">
            </div>
            <div class="prod_text">
              <h5><b>Estufa de Piso LG 6 Puestos Gas Natural RSG316T Plateado</b></h5>
              <ion-button color="dark">Agregar</ion-button>
            </div>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
