ion-menu {
    width: 300px;
}

.texto-menu {
    margin-left: 10px;
    cursor: pointer;
}

ion-slides {
    height: 25%;
}

.swiper-slide img {
    max-height: 100%;
    pointer-events: none;
}

.productos-destacados {
    text-align: center;
    margin: 30px 0;
}

.btn {
    background: #3880ff;
    color:#fff;
    border-radius: 5px;
}

.div-precio {
    width: 100%;
    text-align: end;
}