<ion-header>
</ion-header>

<ion-content>
  <div class="contenedor">
    <ion-card>
      <ion-card-header>
        <div class="encabezado">
          <ion-card-title>Televisores</ion-card-title>
          <a href="http://localhost:8100/products"><ion-icon name="arrow-back-outline"></ion-icon></a>
        </div>
      </ion-card-header>

      <ion-card-content>
        <div class="productos">
          <div class="cont_prod">
            <div class="producto">
              <img src="https://www.alkosto.com/medias/8806092056091-001-310Wx310H?context=bWFzdGVyfGltYWdlc3w0NDU5NHxpbWFnZS9qcGVnfGltYWdlcy9oNzYvaGMxLzEwNzU1MjEzMTMxODA2LmpwZ3xkZDRkOTZiZjI1YWI2Njc1ZGFhOTdhOTYxMDA3OTZhZmQwZTVlNzQyYjFkOGQ4YjU0YjQwNzBkMTg1YWExYjdm">
            </div>
            <div class="prod_text">
              <h5><b>TV LG 43" Pulgadas 108 cm 43UP7750 4K-UHD LED Plano Smart TV</b></h5>
              <ion-button color="dark">Agregar</ion-button>
            </div>
          </div>

          <div class="cont_prod">
            <div class="producto">
              <img src="https://www.alkosto.com/medias/8806092040595-001-310Wx310H?context=bWFzdGVyfGltYWdlc3w0Mjg5MnxpbWFnZS9qcGVnfGltYWdlcy9oMTMvaGNmLzEwNzAxODQ4NDEyMTkwLmpwZ3wxOTY2Mjc1MzYxZTQ0MTA3Y2VmYmZmZmJmZGQ4NzAzMGVmYTVhNTU4YjE5MDI0NjcxOWMyYmNhZmNiOTc3NWRl">
            </div>
            <div class="prod_text">
              <h5><b>TV SAMSUNG 50" Pulgadas 127 cm UN50AU9000KXZL 4K-UHD LED Plano Smart TV</b></h5>
              <ion-button color="dark">Agregar</ion-button>
            </div>
          </div>

          <div class="cont_prod">
            <div class="producto">
              <img src="https://www.alkosto.com/medias/8806091235299-001-310Wx310H?context=bWFzdGVyfGltYWdlc3w0MjI1OXxpbWFnZS9qcGVnfGltYWdlcy9oMzUvaDNlLzEwNjgzOTIzMzAwMzgyLmpwZ3w5ZDk1Y2MzNzY5MTljMTk2NzExMzgxZjAyOTllMTcyMGUyZjdiNDBkNmQyYjViMDNlMmJiMjQ1OGQyMjdiNTNi">
            </div>
            <div class="prod_text">
              <h5><b>
                TV SAMSUNG 75" Pulgadas 190.5 cm 75AU8000 4K-UHD LED Plano Smart TV </b></h5>
              <ion-button color="dark">Agregar</ion-button>
            </div>
          </div>

          <div class="cont_prod">
            <div class="producto">
              <img src="https://www.alkosto.com/medias/8806091235565-001-310Wx310H?context=bWFzdGVyfGltYWdlc3wxMDQxMjB8aW1hZ2UvanBlZ3xpbWFnZXMvaGE4L2hjZi8xMDYxNzAyMzU2MTc1OC5qcGd8ZDk2NWJjYzM4Y2I5ODQ1ZjdhNDhjN2Q4ODg0YzUzZjJhODdlNmRjNGVlMmJlMzRmZWM4Njg0Y2VlYTBkMDA0Nw">
            </div>
            <div class="prod_text">
              <h5><b>TV LG 43" Pulgadas 108 cm 43UP7750 4K-UHD LED Plano Smart TV</b></h5>
              <ion-button color="dark">Agregar</ion-button>
            </div>
          </div>

          <div class="cont_prod">
            <div class="producto">
              <img src="https://www.alkosto.com/medias/6921732873219-001-310Wx310H?context=bWFzdGVyfGltYWdlc3w1OTk0M3xpbWFnZS9qcGVnfGltYWdlcy9oMDQvaGIzLzEwNjIxMTI0OTM1NzEwLmpwZ3w4YjdmM2EyYzkzMzgzNWI5Y2I5OGRmOWMxMjRkOTRiZDE1NzdhN2ZkNmZjNmIyNjAyOTFhZDcwZGIwYzY0NDQz">
            </div>
            <div class="prod_text">
              <h5><b>TV LG 50" Pulgadas 126 cm 50NANO80 4K-UHD NANOCELL LED Plano Smart TV</b></h5>
              <ion-button color="dark">Agregar</ion-button>
            </div>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
